<%= form_for @employee , html: {multipart: true} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% byebug %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <p><label for = "employee_department_id">Department:</label>
<%= collection_select(:employees, :department_id, Department.all, :id, :name, {:multiple => true}, prompt: true) %></p>
</div>

  <%= fields_for(Empskill.all) do |ab| %>
    <div class="field">
      <%= ab.label "Skills" %><br/>
      <%= collection_select(:skills, :skill_id, Skill.all, :id, :name,{}, {:multiple => true}) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>